<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<link rel="stylesheet" th:href="@{/css/custom-bootstrap-theme.css}"></link>

	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>
	<nav th:fragment="navbar" class="navbar navbar-default navbar-fixed-top navbar-dark bg-dark">
	    <div class="container-fluid">
      		<a class="navbar-brand" href="#"><img alt="RabbitMQ Icon" src="/gfx/rmq.png" width="24px" height="24px" style="display: inline-block"/>&nbsp;RabbitMQ :: Queue Management</a>
      	</div>
	</nav>
</body>
</html>