<nav th:fragment="navigation-bar-fragment" class="navbar navbar-expand-lg navbar-expand-m navbar-fixed-top navbar-dark bg-dark">
    <div class="container-fluid">
        <span class="navbar-brand"><img alt="RabbitMQ Icon" th:src="@{/gfx/rmq.png}" width="24px" height="24px" style="display: inline-block"/>&nbsp;RabbitMQ :: Queue Management</span>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/}"><i class="oi oi-random" aria-hidden="false"></i>&nbsp;Queues</a>
                </li>
            </ul>
        </div>
    
        <span sec:authorize="isAuthenticated()" class="navbar-text pr-3" sec:authentication="name"></span>
    
        <form sec:authorize="isAuthenticated()" class="form-inline navbar-text" th:action="@{/logout}" method="POST">
            <button type="submit" class="btn btn-outline-light"><i class="oi oi-power-standby"></i></button>
        </form>
    </div>
</nav>