<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<link rel="stylesheet" th:href="@{/webjars/bootstrap/4.3.0/dist/css/bootstrap.min.css}"></link>

	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>
	<nav th:fragment="navbar" class="navbar navbar-default navbar-expand-lg navbar-expand-m navbar-fixed-top navbar-dark bg-dark">
	    <a class="navbar-brand" href="#"><img alt="RabbitMQ Icon" src="/gfx/rmq.png" width="24px" height="24px" style="display: inline-block"/>&nbsp;RabbitMQ :: Queue Management</a>

		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item">
					<a class="nav-link" href="/"><i class="oi oi-random" aria-hidden="true"></i>&nbsp;Queues</a>
				</li>
			</ul>
		</div>
	</nav>
</body>
</html>