body .container.main {
    padding-top: 40px;
    background-color: #fff;
}

body .login-form {
    padding-top: 40px;
}

.amqp-message .amqp-message-content > .row > div {
    border-bottom: 1px solid #e0e0e0;
    padding: 5px 15px;
}

.amqp-message .amqp-message-content > .row:last-child > div {
    border-bottom: 0;
}

.amqp-message .amqp-message-content > .row > div:first-child {
    font-weight: bold;
}

.renderjson                { margin-bottom: 0; }
.renderjson a              { text-decoration: none; }
.renderjson .disclosure    { color: #007bff;
                             font-size: 150%; }
.renderjson .syntax        { color: #2C3E50; }
.renderjson .string        { color: #1E8449; }
.renderjson .number        { color: #1F618D; }
.renderjson .boolean       { color: #7D3C98; }
.renderjson .key           { color: #2E86C1; }
.renderjson .keyword       { color: #D35400; }
.renderjson .object.syntax { color: #2C3E50; }
.renderjson .array.syntax  { color: #2C3E50; }

