body .container.main {
    padding-top: 40px;
    background-color: #fff;
}

.amqp-message .amqp-message-content > .row > div {
    border-bottom: 1px solid #e0e0e0;
    padding: 5px 15px;
}

.amqp-message .amqp-message-content > .row:last-child > div {
    border-bottom: 0;
}

.amqp-message .amqp-message-content > .row > div:first-child {
    font-weight: bold;
}

.amqp-message .json-formatter-dark.json-formatter-row, .json-formatter-row {
    font-size: 0.9rem;
    font-family: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
}

.amqp-message .json-formatter-row .key {
    color: #d35400;
}

.amqp-message .json-formatter-row .string {
    color: #196F3D;
}

.amqp-message .json-formatter-row .number {
    color: #3498DB;
}

.amqp-message .json-formatter-row .boolean {
    color: #6C3483;
}
.amqp-message .json-formatter-row .null {
    color: #6C3483;
}

.amqp-message .json-formatter-row .toggler:after {
    content: ">";
    color: #007bff;
    font-weight: 900;
}