<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<link rel="stylesheet" th:href="@{/webjars/open-iconic/1.1.1/font/css/open-iconic-bootstrap.min.css}"></link>
	<link rel="stylesheet" th:href="@{/webjars/json-formatter/0.6.0/dist/json-formatter.min.css}"></link>
	
	<link rel="stylesheet" th:href="@{/css/customization.css}"></link>
	<link rel="stylesheet" th:href="@{/css/custom-bootstrap-theme.css}"></link>

	<script type="text/javascript" th:src="@{/webjars/jquery/3.3.1/dist/jquery.min.js}"></script>
	<script type="text/javascript" th:src="@{/webjars/angularjs/1.6.5/angular.min.js}"></script>
	<script type="text/javascript" th:src="@{/webjars/angular-resource/1.6.5/angular-resource.min.js}"></script>
	<script type="text/javascript" th:src="@{/webjars/bootstrap/4.0.0/dist/js/bootstrap.min.js}"></script>
	<script type="text/javascript" th:src="@{/webjars/json-formatter/0.6.0/dist/json-formatter.min.js}"></script>
	<script type="text/javascript" th:src="@{/webjars/js-base64/2.3.2/base64.min.js}"></script>
	
	<script type="text/javascript" th:src="@{/js/main.js}"></script>
	<script type="text/javascript" th:src="@{/js/modalRestExecutor.js}"></script>
	<script type="text/javascript" th:src="@{/js/deleteMessageModal.js}"></script>
	<script type="text/javascript" th:src="@{/js/moveMessageModal.js}"></script>

	<title>RabbitMQ :: Queue Management</title>

    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body ng-app="rmqmgmt">
	<div th:replace="fragments/navbar :: navbar"></div>
	<div class="container-fluid" style="margin-top:60px" ng-controller="main">
		<div class="row">
    		<div class="col-12">
    			<ol class="breadcrumb">
				  <li class="breadcrumb-item"><a href="/"><i class="oi oi-home" aria-hidden="true"></i>&nbsp;Home</a></li>
				  <li class="breadcrumb-item active">{{brokerName}}</li>
				</ol>
			</div>
   		</div>
        <div class="row">
    		<div class="col-4">
    			<div class="panel panel-default">
					<div class="panel-heading">
				    	<h3 class="panel-title">Queues</h3>
				  	</div>
				  	<div class="panel-body">
				  		<div ng-if="!queuesFound" class="alert alert-info" role="alert">No Queue available</div>
				  		<div ng-if="queuesFound">
				  			<div class="list-group">
  								<a ng-repeat="q in queues" href="#" class="list-group-item d-flex justify-content-between align-items-center" ng-class="{active: isQueueSelected(q)}" ng-click="selectQueue(q)">
  									{{q.name}}
									<div>
										<span class="badge badge-warning" ng-if="hasDlx(q)">DLX</span>
										<span class="badge badge-warning" ng-if="hasDlk(q)">DLK</span>
									</div>
  								</a>
 							</div>
				  		</div>
	  				</div>
  				</div>
			</div>
    		<div class="col-8">
  				<div class="panel panel-default">
					<div class="panel-heading">
				    	<h3 class="panel-title">Queue Messages:</h3>
				  	</div>
				  	<div class="panel-body">
		  				<div ng-if="!selectedQueue" class="alert alert-info" role="alert">No Queue is selected</div>
		  				<div ng-if="selectedQueue">
		  					<div ng-if="!messages">
		  						<div class="alert alert-info" role="alert">Queue is empty</div>
			  				</div>
			  				<div ng-if="messages">
                                <div ng-repeat="m in messages" class="card border-light amqp-message mb-2" ng-class="{selected: $first}">
                                    <div class="card-header">Message&nbsp;{{$index + 1}}</div>
                                    <div class="card-body amqp-message-content">
                                        <div class="row">
                                            <div class="col-4">Envelope:</div>
                                            <div class="col-8"><json-formatter json="m.envelope"></json-formatter></div>
                                        </div>
                                        <div class="row">
                                            <div class="col-4">Properties:</div>
                                            <div class="col-8"><json-formatter json="m.properties"></json-formatter></div>
                                        </div>
                                        <div class="row">
                                            <div class="col-4">Checksum:</div>
                                            <div class="col-8">{{m.checksum}}</div>
                                        </div>
                                        <div class="row">
                                            <div class="col-4">Body:</div>
                                            <div class="col-8"><pre><code>{{ renderBody(m) }}</code></pre></div>
                                        </div>
                                    </div>
                                    <div class="btn-group" role="group" ng-if="$first">
                                        <button type="button" class="btn btn-sm btn-primary" ng-click="openMoveModal(m)"><span class="oi oi-share" aria-hidden="true"></span>&nbsp;Move</button>
                                        <button type="button" class="btn btn-sm btn-primary" ng-click="openDeleteModal(m)"><span class="oi oi-trash" aria-hidden="true"></span>&nbsp;Delete</button>
                                    </div>
                                </div>
                            </div>
		  				</div>
	  				</div>
  				</div>
     		</div>
   		</div>
   		<div id="moveMessageModal" move-message-modal="move-message-modal" broker="brokerName" queue="selectedQueue" message="selectedMessage" success-callback="loadMessages"></div>
   		<div id="deleteMessageModal" delete-message-modal="delete-message-modal" broker="brokerName" queue="selectedQueue" message="selectedMessage" success-callback="loadMessages"></div>
    </div>
</body>
</html>