<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<link rel="stylesheet" th:href="@{/webjars/open-iconic/1.1.1/font/css/open-iconic-bootstrap.min.css}"/>
	<link rel="stylesheet" th:href="@{/css/customization.css}"/>
	<link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.0/dist/css/bootstrap.css}"/>

	<title>RabbitMQ :: Queue Management</title>

	<base th:href="@{/}">
	<link rel="icon" type="image/x-icon" href="./favicon.ico" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body class="bg-light">
<div th:replace="fragments/navbar"/>
<div class="container main">
	<div class="row">
		<div class="col-12">
			<h1>All Queues</h1>
			<div class="message-panel"/>
			<div th:if="${#lists.isEmpty(queues)}" class="alert alert-warning" role="alert">
				<strong>Warning!</strong> No queues are available. Check your configuration
			</div>
			<table th:if="${not #lists.isEmpty(queues)}" class="table table-bordered table-sm mt-4">
				<thead class="thead-light">
				<tr>
					<th rowspan="2">Vhost</th>
					<th rowspan="2">Name</th>
					<th rowspan="2">State</th>
					<th rowspan="2">Consumers</th>
					<th colspan="3">Messages</th>
					<th rowspan="2">Attributes</th>
				</tr>
				<tr>
					<th>Total</th>
					<th>Ready</th>
					<th>Unacknowledged</th>
				</tr>
				</thead>
				<tbody>
				<tr th:each="queue : ${queues}">
					<td th:text="${queue.vhost}"></td>
					<td><a th:href="@{/messages(queue=${queue.name},vhost=${queue.vhost})}" th:text="${queue.name}">}</a></td>
					<td th:text="${queue.state}"></td>
					<td th:text="${queue.consumers}"></td>
					<td th:text="${queue.messages}"></td>
					<td th:text="${queue.messagesReady}"></td>
					<td th:text="${queue.messagesUnacknowledged}"></td>
					<td>
						<span th:if="${queue.durable}" class="badge badge-success">D</span>
						<span th:if="${queue.isDeadLetterExchangeConfigured()}" class="badge badge-secondary">DLX</span>
						<span th:if="${queue.isDeadLetterRoutingKeyConfigured()}" class="badge badge-secondary">DLK</span>
					</td>
				</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
</body>
</html>