<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<link rel="stylesheet" th:href="@{/webjars/open-iconic/1.1.1/font/css/open-iconic-bootstrap.min.css}"/>
	<link rel="stylesheet" th:href="@{/css/customization.css}"/>
	<link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.1/dist/css/bootstrap.min.css}"/>

	<title>RabbitMQ :: Queue Management</title>

	<base th:href="@{/}">
	<link rel="icon" type="image/x-icon" href="./favicon.ico" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body class="bg-light">
<div th:replace="~{fragments/navbar}"/>
<div class="container main">
	<div class="row">
		<div class="col-12 mb-4">
			<h1><span class="text-secondary">Queue</span>&nbsp;<span th:text="${queue}"></span><span class="text-secondary"> | Virtual host</span>&nbsp;<span th:text="${vhost}"></span></h1>
			<div class="alert alert-danger" role="alert" th:if="${errorMessage != null}">
				<p class="mb-0"><b><i class="oi oi-warning"></i>&nbsp;Error:</b>&nbsp;<span th:text="${errorMessage}"></span></p>
			</div>

			<div class="alert alert-danger" role="alert">
				<h4 class="alert-heading">Delete first message:</h4>
				<p>Do you really want to delete the first message message in queue <b th:text="${queue}"></b> with the following checksum?</p>
				<p><b>Checksum:</b></p>
				<pre th:text="${checksum}"></pre>
				<hr>
				<form class="form-inline" th:action="@{/messages/delete-first}" method="post">
					<input type="hidden" name="vhost" th:value="${vhost}" />
					<input type="hidden" name="queue" th:value="${queue}" />
					<input type="hidden" name="checksum" th:value="${checksum}" />
					<div class="btn-group" role="group">
						<a class="btn btn-primary" th:href="@{/messages(queue=${queue},vhost=${vhost})}">No</a>
						<button type="submit" class="btn btn-danger">Yes</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<script th:src="@{/webjars/bootstrap/5.3.1/dist/js/bootstrap.min.js}"></script>
</body>
</html>