<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<link rel="stylesheet" th:href="@{/webjars/open-iconic/1.1.1/font/css/open-iconic-bootstrap.min.css}"/>
	<link rel="stylesheet" th:href="@{/css/customization.css}"/>
	<link rel="stylesheet" th:href="@{/webjars/bootstrap/4.4.1/dist/css/bootstrap.min.css}"/>
	<script type="text/javascript" th:src="@{/webjars/renderjson/renderjson.js}"></script>

	<title>RabbitMQ :: Queue Management</title>

	<base th:href="@{/}">
	<link rel="icon" type="image/x-icon" href="./favicon.ico" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<meta th:if="${#request.getSession(false) != null}" name="_csrf" th:content="${_csrf.token}"/>
	<meta th:if="${#request.getSession(false) != null}" name="_csrf_header" th:content="${_csrf.headerName}"/>
</head>

<body class="bg-light">
<div th:replace="fragments/navbar"/>
<div class="container main">
	<div class="row">
		<div class="col-12 mb-4">
			<h1><span class="text-secondary">Queue</span>&nbsp;<span th:text="${queue}"></span><span class="text-secondary">| Virtual host</span>&nbsp;<span th:text="${vhost}"></span></h1>
			<h2>Messages:</h2>
			<div th:if="${#lists.isEmpty(messages)}">
				<div class="alert alert-info" role="alert">Queue is empty</div>
			</div>

			<div class="btn-toolbar mt-2 mb-2" th:if="${not #lists.isEmpty(messages)}">
				<div class="btn-group mr-2" role="group">
					<a th:if="${messages[0].isRequeueAllowed()}" class="btn btn-sm btn-primary" th:href="@{/messages/requeue-all(queue=${queue},vhost=${vhost})}"><span class="oi oi-loop-square" aria-hidden="true"></span>&nbsp;Requeue All</a>
					<a class="btn btn-sm btn-primary" th:href="@{/messages/move-all(queue=${queue},vhost=${vhost})}"><span class="oi oi-share" aria-hidden="true"></span>&nbsp;Move All</a>
				</div>
				<div class="btn-group" role="group">
					<a class="btn btn-sm btn-danger" th:href="@{/messages/delete-all(queue=${queue},vhost=${vhost})}"><span class="oi oi-trash" aria-hidden="true"></span>&nbsp;Delete All</a>
				</div>
			</div>

			<ul class="list-group" th:if="${not #lists.isEmpty(messages)}" >
				<li class="list-group-item list-group-item-action" th:each="m,it : ${messages}">
					<div class="d-flex w-100 border-bottom border-info mb-1">
						<h5 class="mb-1 flex-grow-1">Message&nbsp;<span th:text="${it.count}"></span></h5>
						<span>
                        <span class="badge badge-light" th:if="${m.isMoved()}"><span class="badge badge-pill badge-light border border-secondary" th:text="${m.getMovedCount() + 'x'}"></span>&nbsp;moved</span>
                        <span class="badge badge-light" th:if="${m.isRequeued()}"><span class="badge badge-pill badge-light border border-secondary" th:text="${m.getRequeueCount() + 'x'}"></span>&nbsp;re-queued</span>
                    </span>
					</div>
					<div class="mb-1">
						<div class="mb-1 amqp-message">
							<div class="row">
								<div class="col-4">Envelope:</div>
								<div class="col-8 json-content" th:text="${m.formatEnvelope()}"></div>
							</div>
							<div class="row">
								<div class="col-4">Properties:</div>
								<div class="col-8 json-content" th:text="${m.formatProperties()}"></div>
							</div>
							<div class="row">
								<div class="col-4">Checksum:</div>
								<div class="col-8" th:text="${m.checksum}"></div>
							</div>
							<div class="row">
								<div class="col-4">Body:</div>
								<div class="col-8"><pre class="mb-0"><code th:text="${m.formatBody()}">{{ renderBody(m) }}</code></pre></div>
							</div>
						</div>
						<div class="btn-group float-right" role="group" th:if="${it.first}">
							<a th:if="${m.isRequeueAllowed()}" class="btn btn-sm btn-primary" th:href="@{/messages/requeue-first(queue=${queue},vhost=${vhost},checksum=${m.checksum})}"><span class="oi oi-loop-square" aria-hidden="true"></span>&nbsp;Requeue</a>
							<a class="btn btn-sm btn-primary" th:href="@{/messages/move-first(queue=${queue},vhost=${vhost},checksum=${m.checksum})}"><span class="oi oi-share" aria-hidden="true"></span>&nbsp;Move</a>
							<a class="btn btn-sm btn-danger" th:href="@{/messages/delete-first(queue=${queue},vhost=${vhost},checksum=${m.checksum})}"><span class="oi oi-trash" aria-hidden="true"></span>&nbsp;Delete</a>
						</div>
					</div>
				</li>
			</ul>
		</div>
	</div>
</div>
<script lang="javascript">
	var ready = (callback) => {
	  if (document.readyState != "loading") callback();
	  else document.addEventListener("DOMContentLoaded", callback);
	}

	ready(() => {
	  document.querySelectorAll(".json-content").forEach(e => {
	  	var json = JSON.parse(e.textContent);
	  	e.textContent = "";
	  	e.appendChild(renderjson(json));
	  });
	});
</script>
</body>
</html>