<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<link rel="stylesheet" th:href="@{/webjars/open-iconic/1.1.1/font/css/open-iconic-bootstrap.min.css}"></link>
	<link rel="stylesheet" th:href="@{/webjars/json-formatter/0.6.0/dist/json-formatter.min.css}"></link>
	
	<link rel="stylesheet" th:href="@{/css/customization.css}"></link>
	<link rel="stylesheet" th:href="@{/webjars/bootstrap/4.3.0/dist/css/bootstrap.min.css}"></link>

	<script type="text/javascript" th:src="@{/webjars/jquery/3.4.0/dist/jquery.min.js}"></script>
	<script type="text/javascript" th:src="@{/webjars/angularjs/1.7.5/angular.min.js}"></script>
	<script type="text/javascript" th:src="@{/webjars/angular-resource/1.7.5/angular-resource.min.js}"></script>
	<script type="text/javascript" th:src="@{/webjars/bootstrap/4.3.0/dist/js/bootstrap.min.js}"></script>
	<script type="text/javascript" th:src="@{/webjars/json-formatter/0.6.0/dist/json-formatter.min.js}"></script>
	<script type="text/javascript" th:src="@{/webjars/js-base64/2.3.2/base64.min.js}"></script>
	
	<script type="text/javascript" th:src="@{/js/main.js}"></script>
	<script type="text/javascript" th:src="@{/js/modalRestExecutor.js}"></script>
	<script type="text/javascript" th:src="@{/js/deleteMessageModal.js}"></script>
	<script type="text/javascript" th:src="@{/js/moveMessageModal.js}"></script>

	<title>RabbitMQ :: Queue Management</title>

    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body ng-app="rmqmgmt">
	<div th:replace="fragments/navbar :: navbar"></div>
	<div class="container" style="margin-top:60px" ng-controller="main">
        <div class="row">
    		<div class="col-12">
				<h1><span class="text-secondary">Queue</span>&nbsp;{{queueName}}&nbsp;<span class="text-secondary">| Virtual host</span>&nbsp;{{vhost}}:</h1>
				<h2>Messages:</h2>
				<ul class="list-group">
					<li class="list-group-item list-group-item-action" ng-repeat="m in messages">
						<div class="d-flex w-100 border-bottom border-info mb-1">
							<h5 class="mb-1">
								<span>Message&nbsp;{{$index + 1}}</span>
							</h5>
						</div>
						<div ng-if="!messages">
							<div class="alert alert-info" role="alert">Queue is empty</div>
						</div>
						<div ng-if="messages" class="mb-1">
							<div class="mb-1">
								<div class="row">
									<div class="col-4">Envelope:</div>
									<div class="col-8"><json-formatter json="m.envelope"></json-formatter></div>
								</div>
								<div class="row">
									<div class="col-4">Properties:</div>
									<div class="col-8"><json-formatter json="m.properties"></json-formatter></div>
								</div>
								<div class="row">
									<div class="col-4">Checksum:</div>
									<div class="col-8">{{m.checksum}}</div>
								</div>
								<div class="row">
									<div class="col-4">Body:</div>
									<div class="col-8"><pre class="mb-0"><code>{{ renderBody(m) }}</code></pre></div>
								</div>
							</div>
							<div class="btn-group float-right" role="group" ng-if="$first">
								<button type="button" class="btn btn-sm btn-primary" ng-click="openMoveModal(m)"><span class="oi oi-share" aria-hidden="true"></span>&nbsp;Move</button>
								<button type="button" class="btn btn-sm btn-danger" ng-click="openDeleteModal(m)"><span class="oi oi-trash" aria-hidden="true"></span>&nbsp;Delete</button>
							</div>
						</div>
					</li>
				</ul>
     		</div>
   		</div>
   		<div id="moveMessageModal" move-message-modal="move-message-modal" vhost="vhost" queue="queueName" message="selectedMessage" success-callback="loadMessages"></div>
   		<div id="deleteMessageModal" delete-message-modal="delete-message-modal" vhost="vhost" queue="queueName" message="selectedMessage" success-callback="loadMessages"></div>
    </div>
</body>
</html>